html,body {cursor: url(../images/mouse-f1.png), auto}
a:hover {cursor: url(../images/mouse-f2.png), auto}
button:hover {cursor: url(../images/mouse-f2.png), auto}
.link-btn-chill:hover {cursor: url(../images/mouse-f2.png), auto}
#avatar-image:hover {cursor: url(../images/mouse-f2.png), auto}
html {background: linear-gradient(-20deg, #e0c3fc 0%, #fff0f3 100%);font-family: inter, sans-serif;margin: 0; padding: 0;}
body {margin: 0;padding: 0;position: relative;top: 0;left: 0;width: 100vw;}
.center {display: flex;align-items: center;justify-content: center;}
.light-orange {color: #ef9d64;}
.light-blue {color: #6a8de4;}
#root {display: flex;align-items: center;justify-content: center;height: auto;min-height: 100vh;}
#main {display: block;position: relative;margin-top: 30px;margin-bottom: 30px;width: 411px;max-width: 411px;min-height: 823px;background-color: #fff;border-radius: 30px;box-shadow: 7px 7px 20px -5px rgba(0, 0, 0, .1);}
.container {padding: 0 15px;}
#cover-image {background-position: center;background-size: cover;border-top-left-radius: 30px;border-top-right-radius: 30px;width: 411px;height: 165px; position: relative;left: -15px;}
#profile-header {position: relative;display: grid;grid-template-columns: 120px auto;column-gap: 15px;margin-bottom: -10px;}
#avatar-image {position: relative;background-position: center;background-size: cover;border-radius: 30px;width: 130px;height: 130px;top: -25px;transition: 1.4s;margin-left: 5px;}
#avatar-image {overflow:hidden;}
#avatar-image {-webkit-transition: all 2s ease; transition: all 2s ease;}
.post-item .box-image:hover::before{-webkit-animation:shine .75s; animation:shine .75s}
@-webkit-keyframes shine{100%{left:125%}}
@keyframes shine{ 100%{left:125%}}
.post-item .box-image::before{position:absolute;top:0;left:-75%;z-index:2;display:block;content:'';width:50%;height:100%;background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}
#name {position: relative;padding-top: 5px;margin-left: 17px;}
.names {font-weight: 600;font-size: 26px;margin: 0}
.nicknames {font-weight: 500;font-size: 20px;margin: 0;}
#skills {padding-top: 5px;margin-left: 5px;}
.skill-item {display: inline-flex;justify-content: center;align-content: center;position: relative;font-size: 14px;font-weight: 400;height: 20px;margin-right: 10px;width: auto;}
.skill-item::before {position: absolute;content: "";padding-left: 5px;padding-right: 5px;width: 100%;height: 18px;background-color: currentColor;opacity: .2;border-radius: 5px;}
.bio-story-thumb {width: 50px;height: 50px;background-position: center;background-size: cover;border-radius: 15px;margin: 10px;}
.bio-story-content p {position: relative;font-size: 15px;margin-top: 10px;font-weight: 600;margin-bottom: 10px;}
.bio-story-content span {position: relative;font-size: 12px;bottom: 15px;color: #587fe1;font-weight: 500;}
#content-body {position: relative;margin-top: 20px;max-width: 100%;margin-bottom: 40px;}
.drop-title {font-weight: 600;font-size: 18px;margin-left: 10px;}
#link-box {position: relative;width: 100%;}
.link-item {position: relative;display: grid;grid-template-columns: 70px auto 65px;height: 80px;width: 100%; background-color: #fafafa;border-radius: 20px;margin-bottom: 15px;-webkit-box-shadow: 7px 7px 20px -5px rgba(0, 0, 0, .4);box-shadow: 7px 7px 20px -5px rgba(0, 0, 0, .1);transition: all 250ms ease-in-out;}
.link-item:hover {background-color: #eee;}
.link-content { padding-top: 15px;}
.link-content p {margin: 0;font-weight: 600;}
.link-content span {position: absolute;font-weight: 400;font-size: 14px;bottom: 15px;color: #a6a9b1;max-width: 50%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;transition: all 250ms;cursor: pointer;}
.link-content span:hover {color: #7c7e83;}
.link-btn-chill {display: inline-flex;justify-content: center;align-content: center;position: relative;margin-top: 15px;font-size: 14px;width: auto;font-weight: 600;}
.link-btn-chill::before {position: absolute;content: "";padding-left: 7px;padding-right: 7px;width: 40px;height: 18px;background-color: currentColor;opacity: .2;border-radius: 5px;top: -1px;transition: all 250ms;}
.link-btn-chill {transition: all 250ms ease-in-out;}
.link-btn-chill:hover::before {opacity: .5;}
.bio-buttun{text-align: center;padding: 10px 0px 10px 0p}
.bio-buttun button{ width: 200px; height: 40px; border-radius: 10px; border: none; background-image: linear-gradient(#FC5C7D, #6a82fb); color: white !important;
}
  button { margin-top: 10px; margin-left: 120px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;

  }
  .btn-12{

    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  .a a{
text-decoration: none;
font-size: 16px;
color: #ffffff;
  }